@import "~bulma/sass/utilities/initial-variables"

// Config vars
$off-white: white
$bg-dark: #212121
$bg-darker: #181818
$background: $bg-dark

//$primary: 
//$primary-invert: $kaldi-red-invert

$body-background-color: $bg-dark
$body-text-color: $white-ter
$body-color: $white-ter

// Text
$text-strong: $white-ter
$text-light: $white-ter
$text: $white-ter
$title-color: $text

$link: $grey-light
$link-hover: $red

// Navbar

$navbar-item-color: $white-ter
$navbar-background-color: $bg-darker
$navbar-dropdown-background-color: $black-bis
$navbar-dropdown-item-hover-background-color: $bg-dark
$navbar-item-hover-background-color: $black-bis
$navbar-box-shadow-size: 0 3px 6px
$navbar-box-shadow-color: rgba(0, 0, 0, 0.23)

// Footer

$footer-background-color: $bg-darker

// Table 

$table-color: $white-ter
$table-background-color: $bg-darker
$table-row-hover-background-color: lighten($bg-darker, 5%)

html, body
  height: 100%

.navbar-item 
  outline: 0

.title
  color: $text

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.ormy-logo
  width: 90%;
  max-height: 28rem;
  padding: 3rem;
  display: block;
  fill: white;

@import "~bulma"
